# MongoDB connection string
MONGO_URI=mongodb://localhost:27017/hospital

# Server port
PORT=3000

# Node environment
NODE_ENV=development

# MQTT Broker Configuration
MQTT_BROKER=mqtt://localhost:1883
MQTT_USER=hospital_backend
MQTT_PASS=123456
